.post-type-archive-tribe_events {
    .tribe-events-calendar-list__event-date-tag{
        display: none;
    }

    .tribe-events-calendar-list__event {
        // flex-direction: column-reverse;
    }

    // .tribe-events-calendar-list__event-featured-image-wrapper {
    //     grid-column: 1 / 2;
    // }

    // .tribe-events-calendar-list__event-details {
    //     grid-column: 2 / -1;
    // // }

    // .tribe-common .tribe-common-a11y-hidden
    .tribe-events-calendar-list__event-description
     {
        display: block!important;
        visibility: visible;
    }

}
