#home-featured-bundle {
    color: white;
    & > img {
        position: absolute;
        top: 5rem;
        left: 0;
        right: 0;
        z-index: -1;
        height: 40rem;
        object-fit: cover;
        filter: brightness(50%);
    }
    h2 {
        margin: .2rem 0;
    }
    p {
        margin: 0 0 .5rem;
    }
    .bundle-price {
        text-align: right;
    }
}