.acf-map {
    width: 100%;
    height: 25rem;
    margin-bottom: 2rem;
    border: #ccc solid 1px;

    // Fixes potential theme css conflict.
    img {
        max-width: inherit !important;
    }
}

.location-part {
    margin: 1rem 0;
    h2 {
        margin: .25rem 0;
    }
    p {
        margin: 0;
    }
}

@media (min-width: 48rem) {
    .location-part {
        margin-bottom:2rem;
        display: grid;
        gap: .5rem 2rem;
        grid-template:
                    'map tx1' auto
                    'map tx2' auto / auto 16rem;
        .acf-map {
            margin-right: 2rem;
            margin-bottom: 0;
            grid-area: map;
        }
        .store-info {
            grid-area: tx1;
            align-self: start;
            text-align:right;
        }
        .store-hours {
            grid-area: tx2;
            align-self: end;
            text-align:right;
        }
    }
}