#home-new-products {
    margin-bottom: 4rem;
    text-align: center;
    button {
        display: none;
        background-color: transparent;
        background-image: none;
        border: none;
    }
    .swiper {
        height: 26rem;
    }
}

@media (min-width: 620px) {
    #home-new-products {
        button {
            display: initial;
        }
    }
}

@media (min-width: 800px) {
    #home-new-products {
        position: relative;
        .swiper {
            height: 17rem;
        }
        .swiper-slide {
            width: 100%;
            display: flex;
            justify-content: center;
            .slide-text-container {
                width: 35%;
            }
        }    
        button.swiper-button-next {
            position: absolute;
            top: 50%;
            right: 1.5rem;
            width: 4rem;
            height: 5rem;
        }  
        button.swiper-button-prev {
            position: absolute;
            top: 50%;
            left: 1.5rem;
            width: 4rem;
            height: 5rem;
        }   
    }
}