a {
  color: $black;

  &:visited {
    color: $black;
  }

  &:hover,
  &:focus,
  &:active {
    color: $black;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
.button,
.page-id-22 button,
.tribe-common--breakpoint-medium.tribe-events
  .tribe-common-c-btn.tribe-events-c-search__button,
.tribe-events
  .tribe-events-c-subscribe-dropdown
  .tribe-events-c-subscribe-dropdown__button-text,
.swiper-slide a:nth-child(2),
.wpcf7-form .wpcf7-submit,
.cart button,
a.button,
button.wp-block-button__link,
.added_to_cart,
.woocommerce-products-compare-remove-all-products,
.wc-block-product-categories__button {
  color: $white;
  background-color: $green;
  text-decoration: none;
  border-radius: 15px;
  padding: 10px 12px;

  &:hover,
  &:focus,
  &:active {
    color: $white;
    filter: brightness(120%);
  }
}
