a {
  color: $black;

  &:visited {
    color: $black;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

.home-featured-bundle .home-featured-bundle > a {
  color: green;
  background-color: $green;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px 8px;
}
